#game-canvas {
    // border: 1px solid black;
    position: absolute;
    top: 170px;
    left: 380px;
    cursor: pointer;
    }


.item-image {
    height: 30px;
    width: 40px;
}

#bombimg {
    max-height: 80px;
    height: 100%;
    src: "src/scripts/bomb.png";
    position: relative;
    
}

body{
    background-image: url("assets/startback.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    //<a href="https://www.freepik.com/free-vector/house-attic-with-old-broken-furniture-dust-web_6993965.htm#query=cartoon%20storage%20room&position=9&from_view=search&track=ais">Image by upklyak</a> on Freepik

}
#timer{
    top: 1px;
}
.listboard {
    display: flex;
    justify-content: flex-start;
}

.listback {
    display: flex;
    background-color: rgba(244, 211, 166, 0.8);
    color: beige;
    width: 10 px;
}

#reflist {
    color: black;
    width: 220px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bomb {
    position: relative;
    left: 380px;
}
#timer {
    position:absolute;
    left: 72px;
    top: -5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: silver;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: maroon;
}

.found {
    text-decoration: line-through;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#startpage {
    
    position: absolute;
    top: 280px;
    left: 310px;
    height: 600px;
    width: 1100px;
    background-size: cover;
    margin: auto;

}

#startpage > * {
    position: relative;
    top: 10px;
    
}

#winpage {
    display: none;
    position: absolute;
    left: 25%;
    z-index: 2;
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    background-color: rgba(245, 245, 245, 0.464);
    
}
#homebutton {
    z-index: 1;
    position: absolute;
    display: flex;
}

.github-button {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 50px;
 }
.linkedin-button {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 50px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
#about {
    height: 50px;
    display: flex;
    justify-content: space-around;
}

#winMessage {
    margin-top: -100px;
    font-size: larger;
}


#homebutton {
    background-color: #D7D0D0;
    border-style: solid black 2px;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    width: 175px;
    margin: 10px;
}

#initialize {
    display: flex;
    background-color: #D7D0D0;
    border-style: solid black 2px;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    width: 175px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 500px;
}

#losepage {
    display: none;
    position: absolute;
    left: 25%;
    z-index: 1;
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    background-color: rgba(245, 245, 245, 0.464);
    
}

#loseMessage {
    margin-top: -100px;
    font-size: larger;
}

#losebutton {
    background-color: #D7D0D0;
    border-style: solid black 2px;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    width: 175px;
    margin: 10px;
}

font-face {
    font-family: 'Dimis';
    src: url('assets/DIMIS___.TTF');
  }